extends layout
block content
    h1= title
    - let groceriesid = toShow._id
    - let groceries_type = toShow.groceries_type
    - let groceriescost = toShow.cost
    - let groceriessize = toShow.size
    div
        div.row
            div(class='costumeAttr mr-3') Costume ID is:
            div #{groceriesid}
        div.row
            div(class='costumeAttr mr-3') Costume Type is:
            div #{groceries_type}
        div.row
            div(class='costumeAttr mr-3') Costume Size is:
            div #{groceriescost}
        div.row
            div(class='costumeAttr mr-3') Costume Cost is:
            div #{groceriessize}