extends layout

block content
  h1= title
  if toShow == null
    h2 No instance to show
  else
    - let item_id = toShow._id
    - let item_type = toShow.item_type
    - let item_name = toShow.item_name
    - let item_price = toShow.item_price
    div
      div.row
        div.groceriesAttr.mr-3 Groceries ID is:
        div #{item_id}
      div.row
        div.groceriesAttr.mr-3 Item Type is:
        div #{item_type}
      div.row
        div.groceriesAttr.mr-3 Item Name is:
        div #{item_name}
      div.row
        div.groceriesAttr.mr-3 Item Price is:
        div #{item_price}
